body {
  font-family: Arial, sans-serif;
  background-color: rgba(236, 156, 230, 0.1);
}

.container {
  max-width: 800px;
  margin: 40px auto 20px auto; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(214, 128, 231, 0.1);
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(224, 23, 208, 0.1);
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 20px;
}

.profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #876492;
  margin-bottom: 20px;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profile img:hover {
  box-shadow: 0 0 0 12px rgba(224, 23, 208, 0.1);
  transform: scale(1.1);
}

.header-info {
  text-align: center;
}

.description {
  text-align: center;
}

.info{
  text-align: center;
}

.header h2 {
  color: gray;
}

.header h1 {
  margin-bottom: 5px;
  font-size: 28px;
  color: black;
}

.header p {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main .section {
  margin-bottom: 20px;
}

.main h2 {
  font-size: 24px;
  color: #630e7a;
}

.item h3 {
  margin-bottom: 5px;
  color: #333;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.skills li {
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-top: 20px;
  }

  .tarjeta {
    margin-top: 0;
    margin-bottom: 20px; 
    display: none; /* Ocultar la tarjeta en dispositivos móviles */
  }

  /* Mostrar el currículum vitae en dispositivos móviles */
  .container .header {
    margin-right: 0; 
    border-radius: 0;
  }
}

.tarjeta {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease;
  margin-top: 150px;
}

.tarjeta .img {
  width: 200px;
  height: 220px;
  border-radius: 60%;
  margin-bottom: 20px;
  float: left;
  margin-right: 20px;
  box-shadow: 0 0 0 8px rgba(236, 30, 192, 0.06);
  transition: .2s;
}

.tarjeta .img:hover {
  box-shadow: 0 0 0 12px rgba(224, 23, 208, 0.1);
}

.tarjeta h1 {
  margin-top: 0;
  color: #333;
}

.tarjeta h2 {
  color: #666;
  margin-top: 5px;
}

.tarjeta .redes-sociales {
  margin-top: 20px;
}

.tarjeta .redes-sociales a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #bc77c2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tarjeta .redes-sociales a:hover {
  background-color: #c53aca;
  transform: translateY(-2px);
}

.tarjeta .redes-sociales a:active {
  transform: translateY(0);
}

.tarjeta a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #bc77c2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.tarjeta a:hover {
  background-color: #c53aca;
}
